.main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  align-items: flex-start;
  color: var(--main-font-color)
}

.mainloadingmessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  color: var(--main-font-color)
}

.changedivwrapper {
  margin: 3.1rem;
  position: relative;
  z-index: 4;
}
.changedivwrapper h4{
  font-weight: 300;
}
.changediv {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  
}
.mainwrapplabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inputlabelwrapp {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.changediv label {
  font-weight: 300;
  font-size: 0.8rem;
  margin-bottom: 1rem;

}
.changediv input {
  height: 3rem;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  border: 0.4px solid #aaa7a74d;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--main-font-color)
}
.savebtn {
  padding: 0.92rem;
  margin-top: 0.94rem;
  width: 10rem;
  border: none;
  border-radius: 0.4rem;
  background: linear-gradient(to bottom right, #66F6FF, #143DA9);
  cursor: pointer;
  color: var(--main-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.buttonwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}


.main button {
  margin: 0 0.4rem;
  border: 2px solid white;
  padding: 0.7rem;
  border-radius: 0.6rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--main-font-color);
}
.main button:active {
  transform: scale(0.95);
}

.ovalblurtwo {
  position: absolute;
  width: 100%;
  height: 90vh;
  background: radial-gradient(ellipse at center, rgba(102, 246, 255) 4%, rgba(102, 246, 255,0.2) 25%, rgba(102, 246, 255,0) 100%);
  filter: blur(100px);
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.errormessage {
  color: red;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 428px) {
  .changedivwrapper {
      margin-left: 1.4rem;
      width: 100%;
      margin-right: 1.9rem;
  }
  .changediv {
      display: flex;
      flex-direction: column;
  }
  .changediv input {
      width: 100%;
  }

}