.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  align-items: center;
}
.messageclass h4 {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--main-font-color);
  
}

.main a {
  text-decoration: none;
}
.mainloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  color: var(--main-font-color)
}
.divleft {
min-width: 15.8rem;
height: 28rem;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
margin: 3.2rem;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
color: var(--main-font-faded);
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.divright {
width: 80%; 
height: 100vh;
margin: 3.2rem;
color: var(--main-font-color);

}

.divwrpp {
  width: 100%;
  height: 52%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
  color: var(--main-font-color);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;
  overflow: auto;
}
.divwrpp::-webkit-scrollbar {
  display: none;
}

.divobj {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  color: var(--main-font-faded);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 25rem;
  margin: 1rem 0rem;
  min-height: 10rem;
  justify-content: space-evenly;
  width: 45%;
}

.divright h1 {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.2rem;
  color: var(--main-font-color);
  text-align: center;
}

.profileH {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--main-font-color);
  
}

.divwrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0.1rem;
  cursor: pointer;

}

.divwrap img {
  margin: 0.8rem;
}
.activeh5 {
  color: var(--main-font-color);
}
.inactiveh5 {
  color: var(--main-font-faded);
}
.headline {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--main-font-color);
  padding: 1.3rem;
  position: relative;
  z-index: 4;
}
.messagerightdiv {
  font-weight: 300;
  color: var(--main-font-color);
  padding-bottom: 1rem;
  position: relative;
  z-index: 4;
}

.messagerightdivh2 {
  font-weight: 300;
  color: var(--main-font-color);
  padding: 1.3rem;
}


.ovalblur {
  position: fixed;
  width: 100%;
  height: 90vh;
  background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
  filter: blur(100px);
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 1300px) {
  .divobj {
    min-width: 0rem;
    width: 100%;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    display: inline-block ;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color);
  }
  
  .divleft {
  display: flex;
  min-width: 0rem;
  width: 90%;
  padding-left: 0rem;
  padding-right: 0rem;
  flex-direction: row;
  height: 10%;
  align-items: center;
  }
  
  .divright {
  width: 90%;
  padding-left: 0rem;
  padding-right: 0rem;
  color: var(--main-font-color);
  height: 90%;
  padding-right: 1rem;
  }
  
  .divright h1 {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 1.2rem;
    color: var(--main-font-color);
    text-align: center;
  }
  
  .profileH {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.2rem;
    border-bottom: none;
    color: var(--main-font-color);
    
  }
  
  .divwrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.1rem;
  }
  
  .divwrap img {
    margin: 0.2rem;
  }
  .divwrap {
    display: flex;
    width: 9.9rem;
    margin-top: 0.1rem;
  }}


.changedivwrapper {
    position: relative;
    z-index: 4;
    margin-left: 0.1rem;
}
.changedivwrapper h4{
    font-weight: 300;
}

.changediv {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    
}
.mainwrapplabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inputlabelwrapp {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.changediv label {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 1rem;

}
.changediv input {
    height: 3rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    border: 0.4px solid #aaa7a74d;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 4;
    color: var(--main-font-color)
}
.changediv textarea {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  border: 0.4px solid #aaa7a74d;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  z-index: 4;
  color: var(--main-font-color)

}

.savebtn {
    padding: 0.92rem;
    margin-top: 0.94rem;
    width: 10rem;
    border: none;
    border-radius: 0.4rem;
    background: linear-gradient(to bottom right, #66F6FF, #143DA9);
    cursor: pointer;
    color: var(--main-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.buttonwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}


  @media screen and (max-width: 970px) {
    .divwrap {
      width: 9.2rem;
    }
    .divleft {
      width: 89%;
      }
  }
  @media screen and (max-width: 935px) {
    .divwrap {
      width: 9rem;
    }
  }
  @media screen and (max-width: 935px) {
    .divwrap {
      width: 8.8rem;
    }
  }
  @media screen and (max-width: 900px) {
    .divwrap {
      width: 8.5rem;
    }
    .divleft {
      width: 88%;
      }
  }
  @media screen and (max-width: 900px) {
    .divwrap {
      width: 8.2rem;
    }
  }
  @media screen and (max-width: 873px) {
    .divwrap {
      width: 8rem;
    }
  }
  @media screen and (max-width: 810px) {
    .divwrap {
      width: 7.2rem;
    }
    .divleft {
      width: 86%;
      }
      .divright {
        padding-right: 2rem;
        }

  }
  @media screen and (max-width: 770px) {
    .divwrap h5{
      display: none;
    }
    .divleft {
      width: 82%;
      }
    .divwrap {
      width: 6.2rem;
      justify-content: space-evenly;
    }
    .divright {
      padding-right: 2.2rem;
      }
  }

  @media screen and (max-width: 725px) {
    .divleft {
      width: 85%;
      }
    .divwrap {
      width: 6rem;
    }
  }




  @media screen and (max-width: 695px) {
    .divwrap {
      width: 5.5rem;
    }
    .divright {
      padding-right: 2.5rem;
      }
  }

  @media screen and (max-width: 645px) {
    .divwrap {
      width: 5rem;
    }
    .divleft {
      width: 83%;
      }

  }
  @media screen and (max-width: 645px) {
    .divwrap {
      width: 4.5rem;
    }
    .divleft {
      width: 83%;
      }
  }
  @media screen and (max-width: 563px) {
    .divwrap {
      width: 4.2rem;
    }
    .divleft {
      width: 82%;
      }
  }

  @media screen and (max-width: 526px) {
    .divwrap {
      width: 4rem;
    }
  }
  @media screen and (max-width: 508px) {
    .divwrap {
      width: 3.8rem;
    }
  }
  @media screen and (max-width: 490px) {
    .divwrap {
      width: 3.6rem;
    }
  }
  @media screen and (max-width: 470px) {
    .divwrap {
      width: 3.4rem;
    }
  }
  @media screen and (max-width: 450px) {
    .divwrap {
      width: 3.2rem;
    }
  }

  @media screen and (max-width: 428px) {
    .divleft {
      width: 88%;
      margin-top: 1rem;
      margin-left: 1.3rem;
      position: relative;
      z-index: 4;
      }
      .divwrap {
        width: 3rem;
      }
      .divwrap img {
        margin: 1rem;
      }
      .divright {
        margin-left: 1.4rem;
        padding-right: 0.6rem;
      }

  }

