.main {
    background-color: var(--main-color);
    color: var(--main-font-color);
    display: flex;
    padding-bottom: 6rem;

}
.ovalblurdyn {
    position: fixed;
    width: 100%;
    height: 90vh;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    background: radial-gradient(ellipse at right, rgba(102, 246, 255) 15%, rgba(102, 246, 255,0.2) 15%, rgba(102, 246, 255,0) 100%);
    filter: blur(100px);
    z-index: 0;
  }
.divwrap {
    width: 100%;

}

.divwrap h1 {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 4.5rem;
    color: var(--main-font-color);
    text-align: center;
  }

  .divwrap {
    padding-left: 3.2rem;
    font-weight: 300;
    padding-right: 3.2rem;

  }
  .textdiv {
    display: flex;
    flex-direction: row;
  }
  .spandiv {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 429px) {
    .divwrap {
        padding-left: 1.2rem;
        font-weight: 300;
        padding-right: 1.2rem;
    
      }
      .divwrap h1 {
        font-size: 2.4rem;
        font-weight: 600;
        padding: 2rem;
        color: var(--main-font-color);
        text-align: left;
      }
      
  }